.notAppAsidePanel_a3002d {
&::before {
content: "The URL for Design Experiment 4 has changed! Please change your @import to  @import url(https://blade04208.github.io/ddex4/import.css); and read the thread for more info!";
background-color: red;
padding: 8px;
width: 400px;
position: absolute;
z-index: 999999;
margin-left: calc(100% - 400px);
}
}
